.aboutus-turnkey-furnishing {
    padding: 90px 24px;
    background-color: var(--form-light-text-color);
}

.aboutus-turnkey-furnishing__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.aboutus-turnkey-furnishing__number {
    font-size: 11px;
    color: var(--paragraph-color);
    font-weight: bold;
}

.aboutus-turnkey-furnishing__title {
    text-align: center;
    font-size: 34px;
    padding: 20px;
    color: var(--title-color);
}

.aboutus-turnkey-furnishing__description {
    font-size: 18px;
    padding: 10px;
    color: var(--subtitle-color);
    font-weight: bold;
}

.examples {
    background-color: var(--footer-light-text-color);
    padding: 39px 43px;
}

.turnkey-titles {
    font-size: 22px;
    padding: 15px 0px 0px 0px;
}

.turnkey-descriptions {
    color: var(--paragraph-color);
    margin-top: 20px;
    
}

.turnkey-examples {
    margin-top: 15px;
    color: var(--subtitle-color);
    list-style-type: none;
}

.turnkey-examples__card {
    font-size: 16px;
    padding: 5px;
    color: var(--subtitle-color);
}

.turnkey-examples__card::before {
    content: url(../img/list-item-turnkey.svg);
    margin-right: 10px;
}