.faq {
    background-color: #e5e9e2;
    padding: 90px 0px;
}

.faq__tittle {
    font-size: 34px;
    font-weight: 700;
    color: var(--title-color);
}

.faq__description {
    font-size: 18px;
    font-weight: 600;
    color: var(--subtitle-color);
}

.faq-contact__text {
    font-size: 16px;
    color: var(--paragraph-color);
}

.faq-contact__link {
    font-size: 14px;
    color: var(--link-text-color);
}

.faq-accordion__text {
    font-size: 14px;
    color: var(--paragraph-color);
}