.faq {
    background-color: var(--faq-background-color);
    padding: 90px 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.faq__tittle {
    font-size: 48px;
    font-weight: 700;
    color: var(--title-color);
}

.faq__description {
    font-size: 18px;
    font-weight: 600;
    color: var(--subtitle-color);
    padding-top: 25px;
}

.faq-contact__text {
    font-size: 16px;
    color: var(--paragraph-color);
}

.faq-contact__link {
    font-size: 14px;
    color: var(--link-text-color);
}

.faq-accordion__text {
    font-size: 14px;
    color: var(--paragraph-color);
}

.faq-features__list ul {
    list-style: none;
}

.faq-features__item {
    display: flex;
    padding-top: 40px;
}

.faq-features__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-color);
}

.faq-features__description {
    font-size: 16px;
    color: var(--paragraph-color);
}

.faq-features__img {
    width: 30px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .faq {
        grid-template-columns: 1fr 1fr;
    }

    .faq-header {
        grid-column: 1;
        grid-row: 1;
    }

    .faq-contact {
        grid-column: 2;
        grid-row: 1;
    }

    .faq-accordion {
        grid-column: 1;
        grid-row: 2;
    }

    .faq-features {
        grid-column: 2;
        grid-row: 2;
    }
}