header {
    background-color: #F7F4F0;
    top: 0;
    width: 100%;
}

.header__link-list,
.sociallink__list {
    list-style: none;
}

.header__menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--paragraph-color);
    font-size: 0.68rem;
    font-weight: 700;
}

.header__main-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.header__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo-image {
    width: 106px;
}

.sociallink__image {
    width: 26px;
}

.header__link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.sociallink__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


@media (max-width: 1000px) {
    .header__link-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .header__socaillink-container {
        visibility: hidden;
    }

    .header__nav-container {
        display: flex;
        flex-direction: column;
    }

    .header__logo-container {
        margin-bottom: 20px;
    }

    .header__link-list {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}

@media (max-width: 500px) {
    .header__socaillink-container {
        visibility: hidden;
    }

    .header__nav-container {
        display: flex;
        flex-direction: column;

    }

    .header__logo-container {
        margin-bottom: 20px;
    }

    .header__link-list {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}