.hero {
        text-align: center;
}
.hero__number {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 700;
        color: var(--paragraph-color);
}
.hero-title {
        font-family: 'Archivo', sans-serif;
        font-weight: 700;
        font-size: 62px;
}

.accent-letter {
    color: var(--link-text-color);
}
.hero__action {
    color: var(--subtitle-color);
    font-weight: 600;
    font-size: 18px;
}
.hero__action-link {
    text-decoration: none;
    color: var(--link-text-color);
    font-weight: 600;
    font-size: 18px
}
