.offer {
    padding: 100px 30px 60px 30px;
    max-width: 1260px;
    margin: auto;
}

.offer__container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto;
}

.offer__number {
    grid-column-start: 1;
    grid-column-end: 3;
    color: var(--subtitle-color);
    font-size: 12px;
}

.offer-container__description {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.offer-container__description-title {
    font-size: 2.5em;
    color: var(--title-color);
}

.offer-container__description-upper-text {
    font-size: 18px;
    color: var(--subtitle-color);
}

.offer-container__description-lower-text {
    font-size: 16px;
    color: var(--paragraph-color);
}

.offer-container__product-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.product-categories__item {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: end;
}

.product-categories__item-logo {
    width: 50px;
}

.product-categories__item-name {
    color: var(--subtitle-color);
    font-weight: 500;
}

@media screen and (max-width: 1076px) {
    .offer-container__description {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        align-items: center;
    }

    .offer-container__description-title {
        align-self: end;
    }
}

@media screen and (max-width: 966px) {
    .offer-container__description {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        align-items: center;
    }

    .product-categories__item {
        display: grid;
        grid-template-rows: 1fr auto;
        justify-items: center;
        align-items: end;
    }

    .product-categories__item-name {
        align-self: center;
    }
}

@media screen and (max-width: 830px) {
    /* .product-categories__item {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: end;
        padding-left: 10px;
        padding-right: 10px;
    }

    .product-categories__item-name {
        align-self: end;
    } */
}

@media screen and (max-width: 827px) {
    .upper{
        margin-bottom: -15px;
    }
}

@media screen and (max-width: 767px) {

    .offer__container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .offer-container__description {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .offer-container__description-title {
        padding: 10px 0;
    }

    .offer-container__description-lower-text {
        padding: 5px 0;
    }

    .offer-container__product-categories {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
}