<section class="aboutus-turnkey-furnishing">
    <div class="aboutus-turnkey-furnishing__header container">
        <p class="aboutus-turnkey-furnishing__number">// 04. //</p>
        <h2 class="aboutus-turnkey-furnishing__title">Turnkey Furnishing</h2>
        <p class="aboutus-turnkey-furnishing__description">Our clients turn to us to get their homes and offices
            furnished from A to Z.</p>
    </div>
    <div class="aboutus-turnkey-furnishing__examples container">
        <div class="aboutus-turnkey-furnishing__laptop-example examples">
            <img src="img/first-work-of-ours-example.jpg" alt="laptop-room" class="turnkey-example__picture">
            <article class="examples__article">
                <h3 class="laptop-example__title turnkey-titles">Home Office for an 3D Artist</h3>
                <p class="laptop-example__description turnkey-descriptions">Our client works at home most of the
                    time, so it was important for him that his home office was functional and comfortable. We offered
                    him a
                    solution in a minimalistic style with lots of plants and decoration elements.</p>
                <ul class="laptop-example__rooms-benefits-list turnkey-examples">
                    <li class="turnkey-examples__card">Wooden workstation;</li>
                    <li class="turnkey-examples__card">Ergonomic chair;</li>
                    <li class="turnkey-examples__card">Exclusive decoration elements.</li>
                </ul>
            </article>
        </div>
        <div class="aboutus-turnkey-furnishing__bedroom-example examples container">
            <img src="img/second-work-of-ours-example.jpg" alt="bedroom-design" class="turnkey-example__picture">
            <article class="examples__article">
                <h3 class="bedroom-example__title turnkey-titles">Master Bedroom</h3>
                <p class="bedroom-example__description turnkey-descriptions">A master bedroom is a place of
                    solitude
                    and relaxation for any couple. Our clients love pastel shades, so we offered them this delicate
                    project
                    with
                    textile elements, a king-size bed, and nice pouffes.</p>
                <ul class="bedroom-example__rooms-benefits turnkey-examples">
                    <li class="turnkey-examples__card">Bed upholstered in white leather;</li>
                    <li class="turnkey-examples__card">White bedside tables;</li>
                    <li class="turnkey-examples__card">Clouds-like poufs with feathers.</li>
                </ul>
            </article>
        </div>
        <div class="aboutus-turnkey-furnishing__living-room-example examples container">
            <img src="img/third-work-of-ours-example.jpg" alt="living-room" class="turnkey-example__picture">
            <article class="examples__article">
                <h3 class="living-room-example__title turnkey-titles">Dining Room for a Family</h3>
                <p class="living-room-example__description turnkey-descriptions">Our task was to pick dining room
                    furniture for a large family. The clients wanted to create a space where it would be convenient not
                    only
                    to
                    have a quick meal but also to have leisurely family dinners.</p>
                <ul class="living-room-example__rooms-benefits turnkey-examples">
                    <li class="turnkey-examples__card">Green suede chairs;</li>
                    <li class="turnkey-examples__card">Marble dining table;</li>
                    <li class="turnkey-examples__card">Lightning and rugs.</li>
                </ul>
            </article>
        </div>
    </div>
</section>