<section class="about">
    <div class="about-info__container">
        <img width="200px" height="200px" src="img/about.png" alt="f-home-img" class="about-info__img">
        <div class="about-f-home-content">
            <p class="content__number">// 03. //</p>
            <h2 class="content__title">About FHome</h2>
            <p class="content__subtitle">We take pride in our employees committed to designing and building the
                best-in-class
                furniture for wholesale dealers.</p>
            <p class="content-text__part-one">FHome is a leading furniture manufacturer known worldwide for its
                impeccable quality,
                exceptional customer service, and the most affordable prices. This is a family-owned, professional
                furniture company conveniently nestled in the heart of London.</p>
            <p class="content-text__part-two">For more than 35 years, FHome has been building its brand whilst also
                becoming the
                best licensing partner to top lifestyle brands such as Ralph Lauren, Perennials, and Kelly Wearstler.
            </p>
            <a href="about-us.html">Read More</a>
        </div>
    </div>
    <div class="furniture-catalog__downloader">
        <img src="/img/about-f-home/furniture-catalog-background.svg" alt="downloader__background">
        <h1 class="downloader__title">Download Furniture Catalogue</h1>
        <p class="downloader__subtitle">Here you will find all items for sale with current prices.</p>
        <a href="#">
            <img src="/img/about-f-home/pdf-logo.svg" alt="pdf-logo">
            <p>Download PDF</p>
        </a>
    </div>
</section>