<section class="about-f-home">
    <div class="about-f-home__container">
        <div class="about-f-home__img">
            <img src="img/about-f-home/about.png" alt="f-home-img" class="about-info__img">
        </div>
        <div class="about-f-home-content">
            <p class="content__number"><b>/ / 03. / /</b></p>
            <h1 class="content__title">About FHome</h1>
            <p class="content__subtitle"><b>We take pride in our employees committed to designing and building the
                    best-in-class furniture for wholesale dealers.</b>
            </p>
            <div class="content__text">
                <p class="text__first-paragraph">FHome is a leading furniture manufacturer known worldwide for its
                    impeccable quality,
                    exceptional customer service, and the most affordable prices. This is a family-owned, professional
                    furniture company conveniently nestled in the heart of London.</p>
                <br>
                <p class="text__second-paragraph">For more than 35 years, FHome has been building its brand whilst also
                    becoming the
                    best licensing partner to top lifestyle brands such as Ralph Lauren, Perennials, and Kelly
                    Wearstler.
                </p>
            </div>

            <a href="about-us.html" class="read-more">Read More</a>
        </div>
    </div>
    <div class="furniture-catalog-downloader__container background-img">
        <h1 class="downloader-container__title">Download Furniture Catalogue</h1>
        <p class="downloader-container__subtitle"><b>Here you will find all items for sale with current prices.</b></p>
        <a href="index.html" class="download-btn">
            <img src="img/about-f-home/pdf-logo.svg" class="download-btn-logo" alt="pdf-logo">
            <p class="download-btn-text"><b>Download PDF</b></p>
        </a>
    </div>
</section>