<section class="aboutus-turnkey-furnishing">
    <div class="aboutus-turnkey-furnishing__header-block">
        <p class="aboutus-turnkey-furnishing__number-of-block">// 04. //</p>
        <h2 class="aboutus-turnkey-furnishing__title">Turnkey Furnishing</h2>
        <p class="aboutus-turnkey-furnishing__description">Our clients turn to us to get their homes and offices furnished from A to Z.</p>
    </div>
    <div class="aboutus-turnkey-furnishing__examples-block">
        <img src="img/first-work-of-ours-example.jpg" alt="laptop-room" class="aboutus-turnkey-furnishing__first-example-of-design">
        <h3 class="aboutus-turnkey-furnishing__title-of-the-first-example">Home Office for an 3D Artist</h3>
        <p class="aboutus-turnkey-furnishing__description-of-the-first-example">Our client works at home most of the time, so it was important for him that his home office was functional and comfortable. We offered him a solution in a minimalistic style with lots of plants and decoration elements.</p>
        <ul class="aboutus-turnkey-furnishing__first-rooms-benefits">
            <li class="first-rooms-benefits__list">Wooden workstation;</li>
            <li class="first-rooms-benefits__list">Ergonomic chair;</li>
            <li class="first-rooms-benefits__list">Exclusive decoration elements.</li>
        </ul>
        <img src="img/second-work-of-ours-example.jpg" alt="bedroom-design" class="aboutus-turnkey-furnishing__second-example-of-our-design">
        <h3 class="aboutus-turnkey-furnishing__title-of-the-second-example">Master Bedroom</h3>
        <p class="aboutus-turnkey-furnishing__description-of-the-second-example">A master bedroom is a place of solitude and relaxation for any couple. Our clients love pastel shades, so we offered them this delicate project with textile elements, a king-size bed, and nice pouffes.</p>
        <ul class="aboutus-turnkey-furnishing__second-rooms-benefits">
            <li class="second-rooms-benefits__list">Bed upholstered in white leather;</li>
            <li class="second-rooms-benefits__list">White bedside tables;</li>
            <li class="second-rooms-benefits__list">Clouds-like poufs with feathers.</li>
        </ul>
        <img src="img/third-work-of-ours-example.jpg" alt="living-room" class="aboutus-turnkey-furnishing__third-example-of-design">
        <h3 class="aboutus-turnkey-furnishing__title-of-the-third-example">Dining Room for a Family</h3>
        <p class="aboutus-turnkey-furnishing__description-of-the-third-example">Our task was to pick dining room furniture for a large family. The clients wanted to create a space where it would be convenient not only to have a quick meal but also to have leisurely family dinners.</p>
        <ul class="aboutus-turnkey-furnishing__third-rooms-benefits">
            <li class="third-rooms-benefits__list">Green suede chairs;</li>
            <li class="third-rooms-benefits__list">Marble dining table;</li>
            <li class="third-rooms-benefits__list">Lightning and rugs.</li>
        </ul>
    </div>
</section>