<section class="about">
    <div class="about__info">
        <p class="about__number">// 03. //</p>
        <h2 class="about__title">About FHome</h2>
        <p class="about__subtitle">We take pride in our employees committed to designing and building the best-in-class furniture for wholesale dealers.</p>
    </div>
    <div class="about__company">
        <article class="about__article">
            <img wight="400px" src="img/about.png" alt="About" class="about__image">
            <div style="width: 100%;height: 100%;background-color: gray;"></div>
            <p class="about__text">FHome is a leading furniture manufacturer known worldwide for its impeccable quality, exceptional customer service, and the most affordable prices. This is a family-owned, professional furniture company conveniently nestled in the heart of London.</p>
            <p class="about__text">For more than 35 years, FHome has been building its brand whilst also becoming the best licensing partner to top lifestyle brands such as Ralph Lauren, Perennials, and Kelly Wearstler.</p>
        </article>
    </div>
</section>