<section class="benefits">
    <div class="benefits__info">
        <p class="benefits__number">// 06. //</p>
        <h2 class="benefits__title">Benefits</h2>
        <p class="benefits__subtitle">We provide worldwide access to our furniture with such advantages as:
        </p>
    </div>
    <div class="benefits__cards">
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/descriptions.svg" alt="Descriptions" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Descriptions</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">We provide detailed product descriptions.</p>
        </article>    
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/wide-range.svg" alt="Wide Range" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Wide Range</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">A wide range of mid-level to high-end furnishings.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/no-minimum.svg" alt="No minimum" class="benefits__cards-img">
            <h3 class="benefits__cards-title">No Minimum</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">No minimum warehouse order requirements.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/regular-updates.svg" alt="Regular Updates" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Regular Updates</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">We regularly update the catalogue of products.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/easy-orders.svg" alt="Easy Orders" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Easy Orders</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">Get advantage of our smooth ordering process.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/worldwide.svg" alt="Worldwide" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Worldwide</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">Worldwide shipping, including express delivery.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/support-service.svg" alt="Support Service" class="benefits__cards-img">
            <h3 class="benefits__cards-title">Support Service</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">Round-the-clock client support service.</p>
        </article> 
        <article class="benefits__cards-item">
            <img width="45" src="img/benefits/in-stock.svg" alt="In-stock" class="benefits__cards-img">
            <h3 class="benefits__cards-title">In-stock</h3>
            <div style="height: 2px;width: 20px;background-color:grey"></div>
            <p class="benefits__cards-text">In-stock items are ready for delivery.</p>
        </article>      
    </div>
</section>