<section class="best-selling">
    <div class="best-selling__header-container">
        <div class="header-container__content">
            <h1 class="container-content__part-one">Best-Selling</h1>
            <h1 class="container-content__part-two">Items in FHome</h1>
        </div>
        <u>ALL PRODUCTS</u>
    </div>

    <div class="best-selling-container__carousel">
        <div class="carousel-items__container">
            <img src="img/best-selling/carousel-navigation/navigate-arrow-left.jpg" alt="navigation-left"
                class="navigation-btn navigation-left__logo">

            <article class="carousel__item">
                <img src="img/best-selling/selling-items/green-chair.jpg" alt="green-chair" class="carousel-item__img">
                <p class="carousel-item__title">Ultimate Green Chair</p>
                <p class="carousel-item__price">$130.00 USD</p>
                <button class="carousel-item__btn-add">Add to Cart</button>
            </article>

            <article class="carousel__item">
                <img src="img/best-selling/selling-items/erica-chest.jpg" alt="erica-chest" class="carousel-item__img">
                <p class="carousel-item__title">Erica Chest of Drawers</p>
                <p class="carousel-item__price">$340.00 USD</p>
                <button class="carousel-item__btn-add">Add to Cart</button>
            </article>

            <article class="carousel__item">
                <img src="img/best-selling/selling-items/lord-armchair.jpg" alt="lord-armchair"
                    class="carousel-item__img">
                <p class="carousel-item__title">Lord Armchair</p>
                <p class="carousel-item__price">$450.00 USD</p>
                <button class="carousel-item__btn-add">Add to Cart</button>

            </article>

            <article class="carousel__item">
                <img src="img/best-selling/selling-items/snitch-cabinet.jpg" alt="snitch-cabinet"
                    class="carousel-item__img">
                <p class="carousel-item__title">Snitch Cabinet</p>
                <p class="carousel-item__price">$340.00 USD</p>
                <button class="carousel-item__btn-add">Add to Cart</button>
            </article>

            <img src="img/best-selling/carousel-navigation/navigate-arrow-right.jpg" alt="navigation-right"
                class="navigation-btn navigation-right__logo">
        </div>
    </div>
</section>