<section class="best-selling">
    <div class="best-selling__container">
        <div class="best-selling-container__head">
            <h1>Best-Selling Items in FHome</h1>
            <u>ALL PROUCTS</u>
        </div>

        <div class="best-selling-container__carousel">
            <div class="carousel__navigation-left">
                <img src="/img/best-selling/carousel-navigation/navigate-arrow-left.jpg" alt="navigation-left"
                    class="navigation-left__logo">
            </div>
            <div class="carousel-items__container">
                <article class="carousel__item">
                    <div class="carousel-item__img">
                        <img src="/img/best-selling/selling-items/green-chair.jpg" alt="green-chair"
                        class="carousel-item__logo">
                    </div>
                    <div class="carousel-item__info-interaction">
                        <p class="carousel-item__title">Ultimate Green Chair</p>
                        <p class="carousel-item__price">$130.00 USD</p>
                        <button class="item_add">Add to Cart</button>
                    </div>   
                </article>               

                <article class="carousel__item">
                    <div class="carousel-item__img">
                        <img src="/img/best-selling/selling-items/erica-chest.jpg" alt="erica-chest"
                        class="carousel-item__logo">
                    </div>                
                    <div class="carousel-item__info-interaction">
                        <p class="carousel-item__title">Erica Chest of Drawers</p>
                        <p class="carousel-item__price">$340.00 USD</p>
                        <button class="item_add">Add to Cart</button>
                    </div>
                </article>

                <article class="carousel__item">
                    <div class="carousel-item__img">
                        <img src="/img/best-selling/selling-items/lord-armchair.jpg" alt="lord-armchair"
                        class="carousel-item__logo">
                    </div>                
                    <div class="carousel-item__info-interaction">
                        <p class="carousel-item__title">Lord Armchair</p>
                        <p class="carousel-item__price">$450.00 USD</p>
                        <button class="item_add">Add to Cart</button>
                    </div>
                </article>
               
                <article class="carousel__item">
                    <div class="carousel-item__img">
                        <img src="/img/best-selling/selling-items/snitch-cabinet.jpg" alt="snitch-cabinet"
                        class="carousel-item__logo">
                    </div>                
                    <div class="carousel-item__info-interaction">
                        <p class="carousel-item__title">Snitch Cabinet</p>
                        <p class="carousel-item__price">$340.00 USD</p>
                        <button class="item_add">Add to Cart</button>
                    </div>
                </article>
            </div>
            <div class="carousel__navigation-right">
                <img src="/img/best-selling/carousel-navigation/navigate-arrow-right.jpg" alt="navigation-right"
                    class="navigation-right__logo">
            </div>
        </div>
    </div>
</section>