<section class="faq container">
    <div class="faq-header">
        <h2 class="faq__title">Have Questions?</h2>
        <p class="faq__description">Browse the section below or contact us.</p>
        <div class="faq__working-hours">
            <p class="faq__working-hours-text">
                Our Customer Care working hours <span class="nobr"></span>7:00 am - 19:00 pm</span> 
            </p>
            <div class="clock">
                <span id="hours">00</span>
                <span>:</span>
                <span id="minutes">00</span>
                <span>:</span>
                <span id="seconds">00</span>
                <span id="session">AM</span>
            </div>
        </div>
    </div>
    <div class="faq-contact">
        <p class="faq-contact__text">
            If you have any questions about your purchase or refund, our experts
            are here to help. Contact us today to get the answers you need and
            enjoy a hassle-free shopping experience.
        </p>
        <a href="#" class="faq-contact__link">Send us your questions →</a>
    </div>
    <div class="faq-accordion">
        <details class="faq-accordion__item">
            <summary class="faq-accordion__title">What types of furniture do you offer?
            </summary>
            <p class="faq-accordion__text">If you have any questions about your purchase or refund, our experts
                are here to help. Contact us today to get the answers you need and
                enjoy a hassle-free shopping experience.
            </p>
        </details>
        <details class="faq-accordion__item">
            <summary class="faq-accordion__title">How long does it take for my order to arrive?
            </summary>
            <p class="faq-accordion__text">Delivery times will depend on the item ordered and the delivery
                location. Generally, orders can take from 3 to 10 working days
                to arrive. Worldwide deliveries take 10-14 working days.
            </p>
        </details>
        <details class="faq-accordion__item">
            <summary class="faq-accordion__title">How do I return an item?
            </summary>
            <p class="faq-accordion__text">If you are not satisfied with your purchase, you can return it
                within 30 days for a full refund. Please contact our customer
                service team for more details.
            </p>
        </details>
        <details class="faq-accordion__item">
            <summary class="faq-accordion__title">Do you offer any special discounts?
            </summary>
            <p class="faq-accordion__text">Yes, we offer a variety of discounts and special offers
                throughout the year. Please check our website or sign up for our
                email newsletter to stay up to date on our current promotions.
            </p>
        </details>
        <details class="faq-accordion__item">
            <summary class="faq-accordion__title">Do you offer a warranty on your furniture?
            </summary>
            <p class="faq-accordion__text">Yes, we offer a one-year warranty on all furniture sold in our
                store.
            </p>
        </details>
    </div>
    <div class="faq-features">
        <ul class="faq-features__list">
            <li class="faq-features__item">
                <img class="faq-features__img" src="img/laptop.svg" alt="Laptop">
                <div faq-features__item-text>
                    <h3 class="faq-features__title">Order Online</h3>
                    <p class="faq-features__description">
                        You can easily order furniture by adding the selected items to
                        your shopping card and paying for them directly on our site.
                    </p>
                </div>
            </li>
            <li class="faq-features__item">
                <img class="faq-features__img" src="img/phone.svg" alt="Phone">
                <div faq-features__item-text>
                    <h3 class="faq-features__title">Customer Service</h3>
                    <p class="faq-features__description">
                        If you are not sure about the choice, our experts will be happy
                        to advise you by phone.
                    </p>
                </div>

            </li>
            <li class="faq-features__item">
                <img class="faq-features__img" src="img/van.svg" alt="Van">
                <div faq-features__item-text>
                    <h3 class="faq-features__title">Free Delivery</h3>
                    <p class="faq-features__description">
                        Enjoy free and timely delivery to any corner of the world. No
                        minimum order amount!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>