<section class="faq">
    <h2 class="faq__tittle">Have Questions?</h2>
    <p class="faq__description">Browse the section below or contact us.</p>
    <div class="faq-accordion">
        <div class="faq-accordion__item">
            <button class="faq-accordion__button">
                What types of furniture do you offer?
            </button>
            <div class="faq-accordion__content">
                <p class="faq-accordion__text">
                    We offer a wide range of furniture including living room furniture, bedroom furniture, dining room
                    furniture, office furniture, outdoor furniture, and more.
                </p>
            </div>
        </div>
        <div class="faq-accordion__item">
            <button class="faq-accordion__button">
                How long does it take for my order to arrive?
            </button>
            <div class="faq-accordion__content">
                <p class="faq-accordion__text">
                    Delivery times will depend on the item ordered and the delivery
                    location. Generally, orders can take from 3 to 10 working days
                    to arrive. Worldwide deliveries take 10-14 working days.
                </p>
            </div>
        </div>
        <div class="faq-accordion__item">
            <button class="faq-accordion__button">
                How do I return an item?
            </button>
            <div class="faq-accordion__content">
                <p class="faq-accordion__text">
                    If you are not satisfied with your purchase, you can return it
                    within 30 days for a full refund. Please contact our customer
                    service team for more details.
                </p>
            </div>
        </div>
        <div class="faq-accordion__item">
            <button class="faq-accordion__button">
                Do you offer any special discounts?
            </button>
            <div class="faq-accordion__content">
                <p class="faq-accordion__text">
                    Yes, we offer a variety of discounts and special offers
                    throughout the year. Please check our website or sign up for our
                    email newsletter to stay up to date on our current promotions.
                </p>
            </div>
        </div>
        <div class="faq-accordion__item">
            <button class="faq-accordion__button">
                Do you offer a warranty on your furniture?
            </button>
            <div class="faq-accordion__content">
                <p class="faq-accordion__text">
                    Yes, we offer a one-year warranty on all furniture sold in our
                    store.
                </p>
            </div>
        </div>
    </div>
    <div class="faq-contact">
        <p class="faq-contact__text">
            If you have any questions about your purchase or refund, our experts
            are here to help. Contact us today to get the answers you need and
            enjoy a hassle-free shopping experience.
        </p>
        <a href="#" class="faq-contact__link">Send us your questions →</a>
    </div>
    <div class="faq-features">
        <ul class="faq-features__list">
            <li class="faq-features__item">
                <img src="../img/laptop.svg" alt="Laptop">
                <h3 class="faq-features__tittle">Order Online</h3>
                <p class="faq-features__description">
                    You can easily order furniture by adding the selected items to
                    your shopping card and paying for them directly on our site.
                </p>
            </li>
            <li class="faq-features__item">
                <img src="../img/phone.svg" alt="Phone">
                <h3 class="faq-features__tittle">Customer Service</h3>
                <p class="faq-features__description">
                    If you are not sure about the choice, our experts will be happy
                    to advise you by phone.
                </p>
            </li>
            <li class="faq-features__item">
                <img src="../img/van.svg" alt="Van">
                <h3 class="faq-features__tittle">Free Delivery</h3>
                <p class="faq-features__description">
                    Enjoy free and timely delivery to any corner of the world. No
                    minimum order amount!
                </p>
            </li>
        </ul>
    </div>
</section>