<footer class="footer">
  <div class="footer__contacts-box">
    <div class="footer__logo">
      <img
        src="img/logo-main-footer.svg"
        alt="Головний логотип компаніі"
        width="109"
      />
    </div>
    <div class="footer__description">
      <p>
        FHome is a leading furniture manufacturer known worldwide for its
        impeccable quality, exceptional customer service, and fair prices.
      </p>
      <p>
        We offer a wide selection of furniture for the living room, bedroom,
        dining room, and office.
      </p>
      <a class="footer__description-link" href="#">Contact us →</a>
    </div>
    <div class="footer__payment-img">
      <img
        src="img/image-payment-cards.svg"
        alt="Зоображення можливостей оплати"
        width="109"
      />
    </div>
  </div>

  <div class="footer__address">
    <h4 class="footer__title">location</h4>
    <address>
      <ul>
        <li>
          <!-- Тут має бути svg ромб -->
          <p>
            <span class="footer__bold-text">Head Office:</span>
            <span class="footer__italic-text">171 Tavistock Road, London</span>
          </p>
        </li>
        <li>
          <!-- Тут має бути svg ромб -->
          <p>
            <span class="footer__bold-text">Warehouse: </span
            ><span class="footer__italic-text"
              >1645-2 Purser Street, London</span
            >
          </p>
        </li>
        <li>
          <!-- Тут має бути svg ромб -->
          <p>
            <span class="footer__bold-text">Showroom:</span
            ><span class="footer__italic-text"
              > 5254 Egremont Rr3 Drive, London</span
            >
          </p>
        </li>
      </ul>
    </address>

    <h4 class="footer__title">contacts</h4>

    <ul>
      <li>
        <!-- Тут має бути зоображеня телефонної трубки -->
        <a class="contacts__link" href="tel:+12345678900">+1 (234) 567 89 00</a>
      </li>
      <li>
        <!-- Тут має бути зоображення конверту -->
        <a class="contacts__link" href="mailto:fhome@email.com">fhome@email.com</a>
      </li>
    </ul>
  </div>
  <div class="footer__social-gallery">
    <h4 class="footer__title">instagram</h4>

    <div class="footer__instagram-gallery">
      <ul>
        <li>
          <img
            src="img/inst1.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
        <li>
          <img
            src="img/inst2.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
        <li>
          <img
            src="img/inst3.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
        <li>
          <img
            src="img/inst4.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
        <li>
          <img
            src="img/inst5.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
        <li>
          <img
            src="img/inst6.jpg"
            alt="фото меблів зі сторінки інстаграм"
            width="114px"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__link-box">
    <div class="footer__navigation-link">
      <h4 class="footer__link-title">Navigation</h4>
      <ul class="footer__link-list">
        <li><a class="footer__link" href="#">about us</a></li>
        <li><a class="footer__link" href="#">catalogue</a></li>
        <li><a class="footer__link" href="#">projects</a></li>
        <li><a class="footer__link" href="#">what we offer</a></li>
      </ul>
    </div>
    <div class="footer__information-link">
      <h4 class="footer__link-title">Information</h4>
      <ul class="footer__link-list">
        <li><a class="footer__link" href="#">Testimonials</a></li>
        <li><a class="footer__link" href="#">Clients</a></li>
        <li><a class="footer__link" href="#">News & Articles</a></li>
        <li><a class="footer__link" href="#">Contacts</a></li>
      </ul>
    </div>
    <div class="footer__categories-link">
      <h4 class="footer__link-title">Categories</h4>
      <ul class="footer__link-list">
        <li><a class="footer__link" href="#">Bedroom Furniture</a></li>
        <li><a class="footer__link" href="#">Kitchen Furniture</a></li>
        <li><a class="footer__link" href="#">Home Office Furniture</a></li>
        <li><a class="footer__link" href="#">Living Room Furniture</a></li>
      </ul>
    </div>
    <div class="footer__quick-links">
      <h4 class="footer__link-title">Quick Links</h4>
      <ul class="footer__link-list">
        <li><a class="footer__link" href="#">tables</a></li>
        <li><a class="footer__link" href="#">beds</a></li>
        <li><a class="footer__link" href="#">chairs</a></li>
        <li><a class="footer__link" href="#">decoration</a></li>
      </ul>
    </div>
    <div class="footer__privacy-link">
      <h4 class="footer__link-title">Privacy</h4>
      <ul class="footer__link-list">
        <li><a class="footer__link" href="#">Terms & Conditions</a></li>
        <li><a class="footer__link" href="#">Privacy Policy</a></li>
        <li><a class="footer__link" href="#">Delivery</a></li>
        <li><a class="footer__link" href="#">Documents</a></li>
      </ul>
    </div>
</div>

      </ul>
    </div>
  </div>

  <div class="footer__copyright-box">
    <p class="footer__copyright">© Created by | All rights Reserved</p>

    <div class="footer__socialicons-container">
      <ul>
        <li><a href="#"><img src="img/footer-social-logo/twitter.png" alt="картинка посилання на соціальну мережу твітер "width="25" height="25"></a></li>
        <li><a href="#"><img src="img/footer-social-logo/youtube.png" alt="картинка посилання на соціальну мережу ютуб"width="25" height="25"></a></li>
        <li><a href="#"><img src="img/footer-social-logo/facebook.png" alt="картинка посилання на соціальну мережу фейсбук"width="25" height="25"></a></li>
        <li><a href="#"><img src="img/footer-social-logo/instagram.png" alt="картинка посилання на соціальну мережу інстаграм"width="25" height="25"></a></li>
      </ul>
  </div>
</footer>
