<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Футер</title>
  </head>
  <body>
    <footer class="footer">
      <div class="main-footer-container">
        <div class="top-footer-container">
          <div class="payment-footer-collum">
            <img
              class="main-footer-logo"
              src="img/logo-main-footer.svg"
              alt="Main company logo"
            />
            <div class="footer__payment-discription">
              <p class="payment-discription-text">
                FHome is a leading furniture manufacturer known worldwide for
                its impeccable quality, exceptional customer service, and fair
                prices.
              </p>
              <br />
              <p class="payment-discription-text">
                We offer a wide selection of furniture for the living room,
                bedroom, dining room, and office.
              </p>
              <br />
              <a class="payment-discription-link" href="#">Contact us →</a>
            </div>
            <br />
            <img
              class="payment-card-image"
              src="img/image-payment-cards.svg"
              alt="Payment card"
            />
          </div>

          <div class="adress-footer-collum">
            <div class="world-adress-company">
              <h3 class="adress-footer-title">LOCATIONS</h3>
              <p class="adress-footer-text">
                <span class="bold-adress-text">Head Office:</span> 171 Tavistock
                Road, Londo
              </p>
              <p class="adress-footer-text">
                <span class="bold-adress-text">Warehouse:</span> 1645-2 Purser
                Street, London
              </p>
              <p class="adress-footer-text">
                <span class="bold-adress-text">Showroom:</span> 5254 Egremont
                Rr3 Drive, London
              </p>
            </div>
            <div class="contacts-footer-section">
              <h3 class="cotacts-title">CONTACTS</h3>
              <ul class="contacts-list">
                <li class="contacts.list.item">
                  <a class="footer-contacts-link" href="tel:+12345678900"
                    >+1 (234) 567 89 00</a
                  >
                </li>
                <li class="contacts.list.item">
                  <a class="footer-contacts-link" href="mailto:fhome@email.com"
                    >fhome@email.com</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="social-footer-collum">
            <h3 class="social-footer-title">INSTAGRAM</h3>
            <div class="social-image-box">
              <img
                class="footer-social-image"
                src="img/inst1.jpg"
                alt="instagram image"
              />
              <img
                class="footer-social-image"
                src="img/inst2.jpg"
                alt="instagram image"
              />
              <img
                class="footer-social-image"
                src="img/inst3.jpg"
                alt="instagram image"
              />
              <img
                class="footer-social-image"
                src="img/inst4.jpg"
                alt="instagram image"
              />
              <img
                class="footer-social-image"
                src="img/inst5.jpg"
                alt="instagram image"
              />
              <img
                class="footer-social-image"
                src="img/inst6.jpg"
                alt="instagram image"
              />
            </div>
          </div>
        </div>

        <div class="midle-footer-container">
          <div class="navigation-footer-collum">
            <h3 class="navigatin-title">Navigation</h3>
            <ul class="navigatin-list">
              <li class="navigation-list-item">
                <a class="navigation-link" href="#">About Us</a>
              </li>
              <li class="navigation-list-item">
                <a class="navigation-link" href="#">Catalogue</a>
              </li>
              <li class="navigation-list-item">
                <a class="navigation-link" href="#">Projects</a>
              </li>
              <li class="navigation-list-item">
                <a class="navigation-link" href="#">What We Offer</a>
              </li>
            </ul>
          </div>
          <div class="information-footer-collum">
            <h3 class="itformation-title">Information</h3>
            <ul class="information-list">
              <li class="information-list-item">
                <a class="information-link" href="#">Testimonials</a>
              </li>
              <li class="information-list-item">
                <a class="information-link" href="#">Clients</a>
              </li>
              <li class="information-list-item">
                <a class="information-link" href="#">News & Articles</a>
              </li>
              <li class="information-list-item">
                <a class="information-link" href="#">Contacts</a>
              </li>
            </ul>
          </div>
          <div class="categories-footer-collum">
            <h3 class="categories-title">Categories</h3>
            <ul class="categories-list">
              <li class="categories-list-item">
                <a class="categories-link" href="#">Bedroom Furniture</a>
              </li>
              <li class="categories-list-item">
                <a class="categories-link" href="#">Kitchen Furniture</a>
              </li>
              <li class="categories-list-item">
                <a class="categories-link" href="#">Home Office Furniture</a>
              </li>
              <li class="categories-list-item">
                <a class="categories-link" href="#">Living Room Furniture</a>
              </li>
            </ul>
          </div>
          <div class="quick-links-collum">
            <h3 class="quick-links-title">Quick Links</h3>
            <ul class="quick-links-list">
              <li class="quick-links-item">
                <a class="quick-links-link" href="#">Tables</a>
              </li>
              <li class="quick-links-item">
                <a class="quick-links-link" href="#">Beds</a>
              </li>
              <li class="quick-links-item">
                <a class="quick-links-link" href="#">Chairs</a>
              </li>
              <li class="quick-links-item">
                <a class="quick-links-link" href="#">Decoration</a>
              </li>
            </ul>
          </div>
          <div class="privacy-footer-collum">
            <h3 class="privacy-title">Privacy</h3>
            <ul class="privacy-list">
              <li class="privacy-list-item">
                <a class="privacy-link" href="#">Terms & Conditions</a>
              </li>
              <li class="privacy-list-item">
                <a class="privacy-link" href="#">Privacy Policy</a>
              </li>
              <li class="privacy-list-item">
                <a class="privacy-link" href="#">Delivery</a>
              </li>
              <li class="privacy-list-item">
                <a class="privacy-link" href="#">Documents</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyright-footer-conteiner">
          <p class="copyright-text">© Created by | All rights Reserved</p>
          <div class="copyright-social-imgage">
            <img
              class="social-icon-image"
              src="img/header-social-logo/twitter.png"
              alt="twitter logo"
            />
            <img
              class="social-icon-image"
              src="img/header-social-logo/youtube.png"
              alt="youtube logo"
            />
            <img
              class="social-icon-image"
              src="img/header-social-logo/facebook.png"
              alt="facebook logo"
            />
            <img
              class="social-icon-image"
              src="img/header-social-logo/instagram.png"
              alt="instagram logo"
            />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
