<footer class="footer">
  <div class="main__footer-container">
    <div class="top__footer-container">
      <div class="payment__footer-collum">
        <img
          class="main__footer-logo"
          src="img/logo-main-footer.svg"
          alt="main company logo"
        />
        <div class="footer__payment-description">
          <p class="payment__description-text">
            FHome is a leading furniture manufacturer known worldwide for its
            impeccable quality, exceptional customer service, and fair prices.
          </p>
          <br />
          <p class="payment__description-text">
            We offer a wide selection of furniture for the living room, bedroom,
            dining room, and office.
          </p>
          <br />
          <a class="payment__description-link" href="#">Contact us →</a>
        </div>
        <br />
        <img
          class="payment__card-image"
          src="img/image-payment-cards.svg"
          alt="payment card"
        />
      </div>
      <div class="adress__footer-collum">
        <div class="world__adress-company">
          <h3 class="adress__footer-title">LOCATIONS</h3>
          <div class="special__divider"></div>
          <div class="adress__container">
            <img
              class="adress__container-img"
              src="img/footer-icons/icon-rhombus.png"
              alt="pointer icon"
            />
            <p class="adress__footer-text">
              <span class="bold__adress-text">Head Office:</span> 171 Tavistock
              Road, London
            </p>
          </div>
          <div class="adress__container">
            <img
              class="adress__container-img"
              src="img/footer-icons/icon-rhombus.png"
              alt="pointer icon"
            />
            <p class="adress__footer-text">
              <span class="bold__adress-text">Warehouse:</span> 1645-2 Purser
              Street, London
            </p>
          </div>
          <div class="adress__container">
            <img
              class="adress__container-img"
              src="img/img/footer-icons/icon-rhombus.png"
              alt="pointer icon"
            />
            <p class="adress__footer-text">
              <span class="bold__adress-text">Showroom:</span> 5254 Egremont Rr3
              Drive, London
            </p>
          </div>
        </div>
        <div class="contacts__footer-section">
          <h3 class="cotacts__title">CONTACTS</h3>
          <div class="special__divider"></div>
          <ul class="contacts__list">
            <li class="contacts__list-item">
              <img
                class="contact__list-img"
                src="img/footer-icons/icons-phone.png"
                alt="icons-phone"
              />
              <a class="footer__contact-link" href="tel:+12345678900"
                >+1 (234) 567 89 00</a
              >
            </li>
            <li class="contacts__list-item">
              <img
                class="contact__list-img"
                src="img/footer-icons/icons-mail.png"
                alt="icons mail"
              />
              <a class="footer__contact-link" href="mailto:fhome@email.com"
                >fhome@email.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="social__footer-collum">
        <h3 class="social__footer-title">INSTAGRAM</h3>
        <div class="special__divider"></div>
        <div class="social__image-box">
          <img
            class="footer__social-image"
            src="img/inst1.jpg"
            alt="instagram image"
          />
          <img
            class="footer__social-image"
            src="img/inst2.jpg"
            alt="instagram image"
          />
          <img
            class="footer__social-image"
            src="img/inst3.jpg"
            alt="instagram image"
          />
          <img
            class="footer__social-image"
            src="img/inst4.jpg"
            alt="instagram image"
          />
          <img
            class="footer__social-image"
            src="img/inst5.jpg"
            alt="instagram image"
          />
          <img
            class="footer__social-image"
            src="img/inst6.jpg"
            alt="instagram image"
          />
        </div>
      </div>
    </div>
    <div class="divider__container">
      <div class="special__divider-long"></div>
    </div>
    <div class="midle__footer-container">
      <div class="navigation__footer-collum">
        <h3 class="navigatin__title">Navigation</h3>
        <div class="special__divider"></div>
        <ul class="navigatin__list">
          <li class="navigation__list-item">
            <a class="navigation__link" href="#">About Us</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link" href="#">Catalogue</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link" href="#">Projects</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link" href="#">What We Offer</a>
          </li>
        </ul>
      </div>
      <div class="information__footer-collum">
        <h3 class="information__title">Information</h3>
        <div class="special__divider"></div>
        <ul class="information__list">
          <li class="information__list-item">
            <a class="information__link" href="#">Testimonials</a>
          </li>
          <li class="information__list-item">
            <a class="information__link" href="#">Clients</a>
          </li>
          <li class="information__list-item">
            <a class="information__link" href="#">News & Articles</a>
          </li>
          <li class="information__list-item">
            <a class="information__link" href="#">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="categories__footer-collum">
        <h3 class="categories__title">Categories</h3>
        <div class="special__divider"></div>
        <ul class="categories__list">
          <li class="categories__list-item">
            <a class="categories__link" href="#">Bedroom Furniture</a>
          </li>
          <li class="categories__list-item">
            <a class="categories__link" href="#">Kitchen Furniture</a>
          </li>
          <li class="categories__list-item">
            <a class="categories__link" href="#">Home Office Furniture</a>
          </li>
          <li class="categories__list-item">
            <a class="categories__link" href="#">Living Room Furniture</a>
          </li>
        </ul>
      </div>
      <div class="quick__links-collum">
        <h3 class="quick__links-title">Quick Links</h3>
        <div class="special__divider"></div>
        <ul class="quick__links-list">
          <li class="quick__links-item">
            <a class="quick__links-link" href="#">Tables</a>
          </li>
          <li class="quick__links-item">
            <a class="quick__links-link" href="#">Beds</a>
          </li>
          <li class="quick__links-item">
            <a class="quick__links-link" href="#">Chairs</a>
          </li>
          <li class="quick__links-item">
            <a class="quick__links-link" href="#">Decoration</a>
          </li>
        </ul>
      </div>
      <div class="privacy__footer-collum">
        <h3 class="privacy__title">Privacy</h3>
        <div class="special__divider"></div>
        <ul class="privacy__list">
          <li class="privacy__list-item">
            <a class="privacy__link" href="#">Terms & Conditions</a>
          </li>
          <li class="privacy__list-item">
            <a class="privacy__link" href="#">Privacy Policy</a>
          </li>
          <li class="privacy__list-item">
            <a class="privacy__link" href="#">Delivery</a>
          </li>
          <li class="privacy__list-item">
            <a class="privacy__link" href="#">Documents</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider__container">
      <div class="special__divider-long"></div>
    </div>
    <div class="copyright__footer-conteiner">
      <p class="copyright__text">© Created by | All rights Reserved</p>
      <div class="copyright__social-imgage">
        <img
          class="social__icon-image"
          src="img/footer-icons/icons-twitter.png"
          alt="twitter logo"
        />
        <img
          class="social__icon-image"
          src="img/footer-icons/icons-youtube.png"
          alt="youtube logo"
        />
        <img
          class="social__icon-image"
          src="img/footer-icons/icons-facebook.png"
          alt="facebook logo"
        />
        <img
          class="social__icon-image"
          src="img/footer-icons/icons-instagram.png"
          alt="instagram logo"
        />
      </div>
    </div>
  </div>
</footer>
