<header class="header">
  <nav class="header__nav">
    <div class="header__logo main-logo">
      <img
        src="img/logo-main.svg"
        alt="Головний логотип компанії"
        width="106"
      />
    </div>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">about us</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">catalogue</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">projects</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">showroom</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">contacts</a>
      </li>
    </ul>
    <div class="header__social-link">
      <svg
        class="header__social-icon svgIcon-social"
        viewBox="0 0 32 32"
        width="26"
      >
        <!-- Ваш SVG код -->
      </svg>
      <svg
        class="header__social-icon svgIcon-social"
        viewBox="0 0 32 32"
        width="26"
      >
        <!-- Ваш SVG код -->
      </svg>
      <svg
        class="header__social-icon svgIcon-social"
        viewBox="0 0 32 32"
        width="26"
      >
        <!-- Ваш SVG код -->
      </svg>
    </div>
  </nav>
</header>
