<header>
  <div class="header__main-container">
    <div class="header__nav-container">
      <div class="header__logo-container">
        <img
          class="header__logo-image"
          src="img/logo-main.svg"
          alt="Main logo company"
        />
      </div>
      <div class="header__links-container">
        <ul class="header__link-list">
          <li class="header__link-items">
            <a class="header__menu-link" href="about-us.html">about us</a>
          </li>
          <li class="header__link-items">
            <a class="header__menu-link" href="#">catalogue</a>
          </li>
          <li class="header__link-items">
            <a class="header__menu-link" href="#">projects</a>
          </li>
          <li class="header__link-items">
            <a class="header__menu-link" href="#">showroom</a>
          </li>
          <li class="header__link-items">
            <a class="header__menu-link" href="#">contacts</a>
          </li>
        </ul>
      </div>
      <div class="header__socaillink-container">
        <ul class="sociallink__list">
          <li class="sociallink__item">
            <a class="sociallink-link" href="#"
              ><img
                class="sociallink__image"
                src="img/footer-social-logo/twitter.png"
                alt="logo twitter"
            /></a>
          </li>
          <li class="sociallink__item">
            <a class="sociallink-link" href="#"
              ><img
                class="sociallink__image"
                src="img/footer-social-logo/youtube.png"
                alt="logo youtube"
            /></a>
          </li>
          <li class="sociallink__item">
            <a class="sociallink-link" href="#"
              ><img
                class="sociallink__image"
                src="img/footer-social-logo/facebook.png"
                alt="logo facebook"
            /></a>
          </li>
          <li class="sociallink__item">
            <a class="sociallink-link" href="#"
              ><img
                class="sociallink__image"
                src="img/footer-social-logo/instagram.png"
                alt="logo instagram"
            /></a>
          </li>
        </ul>
      </div>
      <div class="burger-icon" id="burgerIcon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal">
    <ul class="menu">
      <li><a href="#">about us</a></li>
      <li><a href="#">catalogue</a></li>
      <li><a href="#">projects</a></li>
      <li><a href="#">showroom</a></li>
      <li><a href="#">contacts</a></li>
    </ul>
    <div class="header__socaillink-wrapper">
      <ul class="sociallink__list">
        <li class="sociallink__item">
          <a class="sociallink-link" href="#"
            ><img
              class="sociallink__image"
              src="img/footer-social-logo/twitter.png"
              alt="logo twitter"
          /></a>
        </li>
        <li class="sociallink__item">
          <a class="sociallink-link" href="#"
            ><img
              class="sociallink__image"
              src="img/footer-social-logo/youtube.png"
              alt="logo youtube"
          /></a>
        </li>
        <li class="sociallink__item">
          <a class="sociallink-link" href="#"
            ><img
              class="sociallink__image"
              src="img/footer-social-logo/facebook.png"
              alt="logo facebook"
          /></a>
        </li>
        <li class="sociallink__item">
          <a class="sociallink-link" href="#"
            ><img
              class="sociallink__image"
              src="img/footer-social-logo/instagram.png"
              alt="logo instagram"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</header>
