<header class="header">
  <nav class="header__nav">
    <div class="header__logo main-logo">
      <img
        src="img/logo-main.svg"
        alt="Головний логотип компанії"
        width="106"
      />
    </div>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="about-us.html" class="header__menu-link">about us</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">catalogue</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">projects</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">showroom</a>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__menu-link">contacts</a>
      </li>
    </ul>
    <div class="header__social-link">
      <ul>
        <li>
          <a href="#"
            ><img
              src="img/header-social-logo/twitter.png"
              alt="логотип посилання твітер"
              width="26"
              height="26"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="img/header-social-logo/youtube.png"
              alt="логотип посилання ютуб"
              width="26"
              height="26"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="img/header-social-logo/facebook.png"
              alt="логотип посилання фейсбук"
              width="26"
              height="26"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="img/header-social-logo/instagram.png"
              alt="логотип посилання інстаграм"
              width="26"
              height="26"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
