<section class="home-showroom">
    <div class="home-showroom__container">
        <div class="home-showroom-container__content">
            <p class="content__number">
                <b>// 03. //</b>
            </p>
            <h1 class="content__title">FHome Showroom</h1>
            <p class="content__subtitle">
                <b>
                    "Our showroom is the perfect place to find stylish, high-quality furniture for your home or office."
                </b>
            </p>
            <div class="content__text">
                <p class="text__first-paragraph">
                    "We offer a wide selection of furniture, including sofas, chairs, tables, beds, and more. Our experienced and knowledgeable staff are here to help you find the perfect piece of furniture to fit your unique style and budget."
                </p>
                <br>
                <p class="text__second-paragraph">
                    "We have something for everyone, from traditional to modern, and a variety of materials and finishes to choose from. Our showroom also offers custom furniture design services, so you can create the exact look you want. We guarantee you’ll find something you love here! Visit us today to get started on creating your dream home."
                </p>
            </div>
            <h2 class="content__second-title">Where You Can Find Us</h2>
            <p class="content__text">
                <i>
                5254 Egremont Rr3 Drive, London
                <a href="#">+1 (234) 567 55 02</a> 
                |
                <a href="#">fhome@email.com</a> 
                </i>
            </p>
            <p class="content__text">
                <i><b>Working Hours:</b></i>
            </p>
            <p class="content__text">
                <i>
                 Monday - Saturday: 11 AM - 9 PM
                 Sunday: 11 AM - 7 PM  
                </i>
            </p>
        </div>
        <div class="home-showroom__img">
            <img src="img/home-showroom.jpg" alt="home-showroom-img" class="home-showroom-img">
        </div>
    </div>
</section>
