<section class="new-products container">
    <div class="new-products__info">
        <p class="new-products__number">// 08. //</p>
        <h1 class="new-products__title">New in Our Store</h1>
        <p class="new-products__subtitle">Browse the new products in our online store.</p>
    </div>
    <div class="new-products__tab-container">
        <div class="new-products__tabs-btn">
            <ul class="tab-container__tab-head-links">
                <button class="tab__head-link filter-btn" type="button" data-id="Sofas">Sofas</button>
                <button class="tab__head-link filter-btn" type="button" data-id="Dressers">Dressers</button>
                <button class="tab__head-link filter-btn" type="button" data-id="Chairs">Chairs</button>
            </ul>
        </div>
        <div class="special-divider container"></div>
        <div class="tab-products">
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/george-sofa.jpg" alt="george-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <a href="#">
                        <p class="tab-item__title">George Sofa</p>
                    </a>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$310USD</p>
                        <p class="price-section__actual-price">$100USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
            
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/bubbles-sofa.jpg" alt="bubbles-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <a href="#">
                        <p class="tab-item__title">Bubbles Sofa</p>
                    </a>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$400USD</p>
                        <p class="price-section__actual-price">$310USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
            
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/delar-sofa.jpg" alt="delar-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <a href="#">
                        <p class="tab-item__title">Delar Sofa</p>
                    </a>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$399USD</p>
                        <p class="price-section__actual-price">$350USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
            
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/angela-sofa.jpg" alt="angela-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <a href="#">
                        <p class="tab-item__title">Angela Sofa</p>
                    </a>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$380USD</p>
                        <p class="price-section__actual-price">$300USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
        </div>

        <div class="banner__container">
            <div class="banner_text">
                <h1>Upgrade Your Living Space With Stylish Furniture!</h1>
                <p>Explore our collection and find the perfect furniture.</p>
            </div>
            <div class="banner_image">
                <img src="img/new-products/banner/table-chair.jpg" alt="background" class="banner-image">
            </div>
        </div>
    </div>
</section>