<section class="new-products container">
    <div class="new-products__info">
        <p class="new-products__number">// 08. //</p>
        <h1 class="new-products__title">New in Our Store</h1>
        <p class="new-products__subtitle">Browse the new products in our online store.</p>
    </div>
    <div class="new-products__tab-container">
        <div class="new-products__tabs-btn">
            <ul class="tab-container__tab-head-links">
                <button class="filter-btn" type="button" data-id="Sofas">Sofas</button>
                <button class="filter-btn" type="button" data-id="Dressers">Dressers</button>
                <button class="filter-btn" type="button" data-id="Chairs">Chairs</button>
            </ul>
        </div>
        <div class="special-divider"></div>
        <div class="tab-products">
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/george-sofa.jpg" alt="george-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">George Sofa</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$310,00USD</p>
                        <p class="price-section__actual-price">$100,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
        </div>    

            <!-- <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/bubbles-sofa.jpg" alt="bubbles-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Bubbles Sofa</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$310,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/delar-sofa.jpg" alt="delar-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Delar Sofa</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$350,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/sofas/angela-sofa.jpg" alt="angela-sofa" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Angela Sofa</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$300,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
        </div>

        <div class="dressers__tab-content-container">
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/dressers/donna-table.jpg" alt="donna-table" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Donna Bedside Table</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$150,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/dressers/glory-cabinet.jpg" alt="glory-cabinet" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Glory Cabinet</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$250,00USD</p>
                        <p class="price-section__actual-price">$140,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/dressers/fusion-dresser.jpg" alt="fusion-dresser" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Fusion Dresser</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$320,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/dressers/upi-table.jpg" alt="upi-table" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Upi Bedside Table</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$110,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
        </div>

        <div class="chairs__tab-content-container">
            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/chairs/arona.jpg" alt="arona" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Arona Armchair</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$199,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/chairs/fusion.jpg" alt="fusion" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Fusion Chair</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$100,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/chairs/lora.jpg" alt="lora" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Lora Armchair</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__actual-price">$290,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>

            <article class="tab-content-container_item">
                <div class="item_img">
                    <img src="img/new-products/chairs/barr.jpg" alt="barr" class="item_logo">
                </div>
                <div class="tab-item__info-interaction">
                    <p class="tab-item__title">Barr Chair</p>
                    <div class="tab-item__price-section">
                        <p class="price-section__old-price tab-discount">$110,00USD</p>
                        <p class="price-section__actual-price">$200,00USD</p>
                    </div>
                    <button class="item_add">Add to Cart</button>
                </div>
            </article>
        </div>
    </div> -->

    <div class="banner__container">
        <div class="banner_text">
            <h1>Upgrade Your Living Space With Stylish Furniture!</h1>
            <p>Explore our collection and find the perfect furniture.</p>
        </div>
        <div class="banner_image">
            <img src="img/new-products/banner/table-chair.jpg" alt="background" class="banner-image">
        </div>
    </div>
</section>