<section class="news-articles">
    <div class="news-articles__info">
        <p class="passion-innovations__number">// 09. //</p>
        <h2 class="news-articles__title">Latest News & Articles</h2>
        <p class="news-articles__subtitle">Read articles about furniture, design trends, and decorations.
        </p>
    </div>
    <div class="news-articles__cards">
        <article class="news-articles__cards-item card">
            <img src="#" alt="Flowers on the bedside table" class="news-articles__cards-img">
            <p class="news-articles__cards-date"><time datetime="2022-09-22 19:00">September 22, 2022</time></p>
            <h3 class="news-articles__cards-title">How to Make Your Bedroom Really Cosy?</h3>
            <p class="news-articles__cards-text">Pillows and blankets provide a cosy atmosphere and make your bed look
                more inviting. Choose colors and textures that complement your...</p>
            <a href="#" class="news-articles__cards-link">Read more &#8594;</a>
        </article>
        <article class="news-articles__cards-item card">
            <img src="#" alt="Plate on the table with a chair" class="news-articles__cards-img">
            <p class="news-articles__cards-date"><time datetime="2023-02-01 19:00">February 01, 2023</time></p>
            <h3 class="news-articles__cards-title">New Furniture Collection Release 2022/2023</h3>
            <p class="news-articles__cards-text">Explore this new collection which is introduced in the new finish,
                handmade of the finest wood that will add a touch of nature and at the same...</p>
            <a href="#" class="news-articles__cards-link">Read more &#8594;</a>
        </article>
        <article class="news-articles__cards-item card">
            <img src="#" alt="Balcony with lovely furniture " class="news-articles__cards-img">
            <p class="news-articles__cards-date"><time datetime="2023-04-11 19:00">April 11, 2023</time></p>
            <h3 class="news-articles__cards-title">Top Furniture Items for Your Balcony or Terrace</h3>
            <p class="news-articles__cards-text">Explore your local thrift store and you just might find the unexpected;
                a polka dotted bowl, a fluffy plant, a faux typewriter or camera, some books...</p>
            <a href="#" class="news-articles__cards-link">Read more &#8594;</a>
        </article>
    </div>

</section>