<section class="offer">
    <div class="offer__number">
        <p><span>// 02. //</span></p>
    </div>
    <div class="offer__container">
        <div class="offer-container__description">
            <h1 class="offer-container__description-title">What Can We Offer</h1>
            <p class="offer-container__description-upper-text">
                Whether you are looking for a new sofa, an armchair,
                or a complete bedroom set, we have it all.</p>
            <p class="offer-container_description-lower-text">
                Our experienced staff is dedicated to helping you find the perfect piece of furniture for your home.
                With a
                wide selection of styles, fabrics, and finishes, we are sure to have something to fit your taste.</p>
        </div>
        <div class="offer-container__product-categories">
            <article class="product-categories_item">
                <img src="/img/offer/double-bed.svg" alt="double-bed" class="product-categories_item-logo" width="40">
                <p class="product-categories_item-name"><span>- Bedroom -</span></p>
            </article>

            <article>
                <img src="/img/offer/kitchen-cabinet.svg" alt="kitchen-cabinet" class="product-categories_item-logo"
                    width="40">
                <p class="product-categories_item-name"><span>- Kitchen -</span></p>
            </article>

            <article>
                <img src="/img/offer/workspace.svg" alt="workspace" class="product-categories_item-logo" width="40">
                <p class="product-categories_item-name"><span>- Home office -</span></p>
            </article>

            <article>
                <img src="/img/offer/dinner-table.svg" alt="dinner-table" class="product-categories_item-logo"
                    width="40">
                <p class="product-categories_item-name"><span>- Garden -</span></p>
            </article>

            <article>
                <img src="/img/offer/cabinet.svg" alt="cabinet" class="product-categories_item-logo" width="40">
                <p class="product-categories_item-name"><span>- Hall Furniture -</span></p>
            </article>

            <article>
                <img src="/img/offer/sofa.svg" alt="sofa" class="product-categories_item-logo" width="40">
                <p class="product-categories_item-name"><span>- Living Room -</span></p>
            </article>
        </div>
    </div>
</section>