<section class="offer">
    <div class="offer__number">
        <p><b>// 02. //</b></p>
    </div>
    <div class="offer__container">
        <div class="offer-container__description">           
            <h1 class="offer-container__description-title">What Can We Offer</h1>
            <p class="offer-container__description-upper-text"><b>
                Whether you are looking for a new sofa, an armchair,
                or a complete bedroom set, we have it all.</b></p>
            <p class="offer-container__description-lower-text">
                Our experienced staff is dedicated to helping you find the perfect piece of furniture for your home.
                With a
                wide selection of styles, fabrics, and finishes, we are sure to have something to fit your taste.</p>
        </div>
        <div class="offer-container__product-categories">
            <article class="product-categories__item">
                <img src="img/offer/double-bed.svg" alt="double-bed" class="product-categories__item-logo" >
                <p class="product-categories__item-name"><b>- Bedroom -</b></p>
            </article>

            <article class="product-categories__item">
                <img src="img/offer/kitchen-cabinet.svg" alt="kitchen-cabinet" class="product-categories__item-logo">
                <p class="product-categories__item-name"><b>- Kitchen -</b></p>
            </article>

            <article class="product-categories__item">
                <img src="img/offer/workspace.svg" alt="workspace" class="product-categories__item-logo">
                <p class="product-categories__item-name"><b>- Home office -</b></p>
            </article>

            <article class="product-categories__item">
                <img src="img/offer/dinner-table.svg" alt="dinner-table" class="product-categories__item-logo">
                <p class="product-categories__item-name"><b>- Garden -</b></p>
            </article>

            <article class="product-categories__item">
                <img src="img/offer/cabinet.svg" alt="cabinet" class="product-categories__item-logo">
                <p class="product-categories__item-name"><b>- Hall Furniture -</b></p>
            </article>

            <article class="product-categories__item">
                <img src="img/offer/sofa.svg" alt="sofa" class="product-categories__item-logo">
                <p class="product-categories__item-name"><b>- Living Room -</b></p>
            </article>
        </div>
    </div>
</section>