<section>
    <div>// 05. //</div>
    <h2>Our Lovely Client's</h2>
    <h3>We provide furniture to many world-famous companies.</h3>
    <ul>
        <li><img src="img" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
    </ul>

    <div>Let's Work Together!</div>
    <a href="#" >Contact us now →</a>

</section>
