<section class="clients">
    <div class="container">
        <div class="clients__number">// 05. //</div>
        <h2 class="clients__title">Our Lovely Clients</h2>
        <h3 class="clients__subtitle">We provide furniture to many world-famous companies.</h3>
        <ul class="clients__list">
            <li class="clients__item"><img src="img/fto.svg" alt="FTO svg"></li>
            <li class="clients__item"><img src="img/nexteye.svg" alt="NextEye svg"></li>
            <li class="clients__item"><img src="img/linea.svg" alt="Linea svg"></li>
            <li class="clients__item"><img src="img/stor-trends.svg" alt="Stor Trends svg"></li>
            <li class="clients__item"><img src="img/retro.svg" alt="Retro svg"></li>
            <li class="clients__item"><img src="img/orion.svg" alt="Orion svg"></li>
            <li class="clients__item"><img src="img/deel.svg" alt="DEEL svg"></li>
            <li class="clients__item"><img src="img/albi.svg" alt="albi svg"></li>
            <li class="clients__item"><img src="img/compa-air.svg" alt="Compa Air svg"></li>
            <li class="clients__item"><img src="img/buka.svg" alt="Buka svg"></li>
        </ul>

        <div class="clients__cta">Let's Work Together!</div>
        <a href="#" class="clients__link"><span class="clients__link-underline">Contact us now</span> →</a>
    </div>    
</section>
