<section class="passion-innovations container">
    <div class="passion-innovations__info">
        <p class="passion-innovations__number">// 06. //</p>
        <h2 class="passion-innovations__title">Passion for Innovations</h2>
        <p class="passion-innovations__subtitle">We create furniture with more capabilities, functionality, and safety.
        </p>
    </div>
    <div class="passion-innovations__cards">
        <article class="passion-innovations__cards-item functionality-bg">
            <img src="img/functionality.jpg" alt="Bed with pillow" class="card__image">
            <div class="card-content">
                <h3 class="card__title">Functionality</h3>
                <p class="card__text">Our skilled craftsmen innovate support structures and legs for futons, exceeding
                    design boundaries.</p>
            </div>
        </article>
        <article class="passion-innovations__cards-item safety-bg">
            <img src="img/safety.jpg" alt="Mirror with magazine table" class="card__image">
            <div class="card-content">
                <h3 class="card__title">Safety</h3>
                <p class="card__text">We can ensure our clients that all our furniture products are safe for the health
                    of all their home inhabitants.</p>
            </div>
        </article>
        <article class="passion-innovations__cards-item design-bg">
            <img src="img/design.jpg" alt="Women sleep on sofa" class="card__image">
            <div class="card-content">
                <h3 class="card__title">Design</h3>
                <p class="card__text">Our market is overfilled with unique furniture designs. Our goal is to stand out
                    from the crowd and continue to impress our clients.</p>
            </div>
        </article>
    </div>
    <div class="passion-innovations__links-wrapper">
        <div class="passion-innovations__links">
            <ul>
                <li class="passion-innovations__links-item"><a href="#">Request a Call</a></li>
                <li class="passion-innovations__links-item"><a href="#">Furniture</a></li>
                <li class="passion-innovations__links-item"><a href="#">Catalogue</a></li>
                <li class="passion-innovations__links-item"><a href="#">Conditions</a></li>
            </ul>
            <img src="img/work-img.svg" alt="Let's work together!" class="passion-innovations__work-img">
        </div>
        <div class="passion-innovations__description">

            <p class="passion-innovations__description-text">Are you an aspiring designer or a talented furniture maker?
                We
                wll be happy to consider cooperation with you!</p>
            <div class="passion-innovations__description-link">
                <a href="#" class="link">Write us &#8594;</a>
            </div>

        </div>
    </div>
</section>

<section class="numbers-starter">
    <article class="numbers-starter__item">
        <span class="numbers-starter__span number" data-value="500">0</span>
        <p class="numbers-starter__text">Succeeded Projects</p>
    </article>
    <article class="numbers-starter__item">
        <span class="numbers-starter__span number" data-value="17140">0</span>
        <p class="numbers-starter__text">Working Hours Spent</p>
    </article>
    <article class="numbers-starter__item">
        <span class="numbers-starter__span number" data-value="1500">0</span>
        <p class="numbers-starter__text">Happy Clients</p>
    </article>
</section>