<section class="passion-innovations">
    <div class="passion-innovations__info">
        <p class="passion-innovations__number">// 06. //</p>
        <h2 class="passion-innovations__title">Passion for Innovations</h2>
        <p class="passion-innovations__subtitle">We create furniture with more capabilities, functionality, and safety.
        </p>
    </div>
    <div class="passon-innovations__cards">
        <article class="passion-innovations__cards-item card">
            <img src="img/functionality.jpg" alt="Bed with pillow" class="card__image">
            <h3 class="card__title">Functionality</h3>
            <p class="card__text">Our skilled craftsmen innovate support structures and legs for futons, exceeding
                design boundaries.</p>
        </article>
        <article class="passion-innovations__cards-item card">
            <img src="img/safety.jpg" alt="Mirror with magazine table" class="card__image">
            <h3 class="card__title">Safety</h3>
            <p class="card__text">We can ensure our clients that all our furniture products are safe for the health of
                all their home inhabitants.</p>
        </article>
        <article class="passion-innovations__cards-item card">
            <img src="img/design.jpg" alt="Women sleep on sofa" class="card__image">
            <h3 class="card__title">Design</h3>
            <p class="card__text">Our market is overfilled with unique furniture designs. Our goal is to stand out from
                the crowd and continue to impress our clients.</p>
        </article>
    </div>
</section>