<div class="sherpa-armchair">
    <div class="sherpa-armchair__container">
        <div class="sherpa__number">
            <p><b>/ / 05. / /</b></p>
        </div>
        <div class="sherpa-container__header-content">
            <h1 class="header-content__title">Sherpa Armchair</h1>
            <p class="container-content__price"><b>$185</b></p>
        </div>
        <p class="container__short-description">
            <i>
                Experience a new level of comfort while sitting in this cosy Sherpa chair made of organic materials.
            </i>
        </p>
        <u class="living-room__text">LIVING ROOM</u>
        <div class="container__product-video">
            <div class="poligon-wraper">
                <img src="img/sherpa-armchair/polygon.svg" class="polygon-icon" alt="polygon-logo">
            </div>
           
            <p class="product-video__text">Product Video</p>
        </div>
    </div>
</div>