<section class="turnkey-furnishing">
    <div class="turnkey-furnishing__header container">
        <p class="turnkey-furnishing__number">// 04. //</p>
        <h2 class="turnkey-furnishing__title">Turnkey Furnishing</h2>
        <p class="turnkey-furnishing__description">Our clients turn to us to get their homes and offices
            furnished from A to Z.</p>
    </div>
    <div class="turnkey-furnishing__examples container"></div>
    <a href="about-us.html" class="more-projects">More Projects</a>
</section>