<section class="turnkey-furnishing">
    <div class="turnkey-furnishing__info">       
        <p class="turnkey-furnishing__number">// 04. //</p>
        <h2 class="turnkey-furnishing__title">Turnkey Furnishing</h2>
        <p class="turnkey-furnishing__subtitle">Our clients turn to us to get their homes and offices furnished from A to Z.
        </p>
    </div>
    <div class="turnkey-furnishing__cards container">
        <div class="turnkey-furnishing__home-office samples ">
            <img src="img/interior1.jpeg" alt="Home Office" class="turnkey-furnishing__img">    
            <article class="cards__article">
                <h3 class="home-office__title turnkey-titles">Home Office for a Freelancer</h3>
                <p class="home-office__text turnkey-text">When working remotely, it is vital to surround yourself with stylish and comfortable pieces of furniture and decoration. Our experts have selected the best interior elements for a freelancer's workstation.</p>
                <ul class="home-office__preference preference-list">
                    <li class="preference-list__card">Wooden desk;</li>
                    <li class="preference-list__card">Ergonomic chair;</li>
                    <li class="preference-list__card">Decoration elements.</li>
                </ul>
            </article>
        </div>
        <div class="turnkey-furnishing__living-room samples container">
            <img src="img/interior2.jpeg" alt="Living Room" class="turnkey-furnishing__img">
            <article class="cards__article">   
                <h3 class="living-room__title turnkey-titles">Family Living Room</h3>
                <p class="living-room__text turnkey-text">In our client's family, the living room is a gathering place for all family members in the evenings and on weekends. We tried to make this room festive and cosy at the same time by picking the right furniture and decorations.</p>
                <ul class="living-room__preference preference-list">
                    <li class="preference-list__card">Textile armchair;</li>
                    <li class="preference-list__card">Golden chest of drawers;</li>
                    <li class="preference-list__card">Stylish ottoman.</li>
                </ul>
            </article>
        </div>  
            <!--кнопка на сторінку About -->
    </div>
    <a href="about-us.html" class="turnkey-furnishing__cards-link"  >More Projects</a>
</section>