<section class="subscription__container">
    <div class="subscription__card">
        <p class="subscription-card__number">// 07. //</p>
        <h1 class="subscription-card__title">Subscribe to Our Newsletter</h1>
        <p class="subscription-card__discount-text">and get a <u><i>7% discount</i></u> on your next order!</p>
        <form id="form" class="suscription-form" action="#">
            <input type="text" id="email" placeholder="Email" class="subscription-card__email">
            <div id="error-msg-id" class="error-msg"></div>
            <button type="submit" class="subscription-card__submit-btn">
                <span class="submit-btn-text">Submit</span>
            </button>
        </form>
    </div>
</section>