<section class="subscription">
    <img src="img/subscription/subscription-back.jpg" alt="subscription-back" class="subscription__background" width="400">
    <div class="subscription__card">
        <p class="subscription-card__number">// 07. //</p>
        <h3 class="subscription-card__title">Subscribe to Our Newsletter</h3>
        <p class="subscription-card__discount-text">and get a 7% discount on your next order!</p>
        <div class="subscription-card__interaction">
            <input type="email" placeholder="Email" class="subscription-card__email">
            <button>Submit</button>
        </div>       
    </div>
</section>